.drop-area{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin-bottom: 15px;
    opacity: 1;
}

.hide-drop{
    opacity: 1;
    width: 10px;
    height: 100px;
    border: 1px solid red;
    margin-bottom: 15px;
}