.tier-container{
    display: flex;
}

.tier{
    display: flex;
    width: 957px;
    background-color: gray;
    margin: 10px;
    overflow: hidden;
    flex-wrap: wrap;
}

.tier> :last-child > :last-child{
    border: 1px solid blue;
}

.tier-name{
    line-height: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
}

.champs{
    display: flex;
}